#count
{
font-size:30px;
color:purple;
font-weight:bolder;
}
#text
{
font-size:30px;
color:lightgrey;
font-weight:bolder;

}
button
{
font-size:25px;
background:black;
color:white;
border-radius:20px;
}
button:hover
{
transition:0.3s linear;
font-size:29px;
background:purple;
color:aliceblue;
border-radius:15px;
}